*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
    font-family: 'Libre Baskerville', serif;
}


header
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    min-width: 320px;
    height: 100vh;
    width: 100%;
    min-width: 288px;
    background: linear-gradient( rgb(1 4 42 / 65%), rgba(0, 0, 0, 0.596)),url(https://c.pxhere.com/photos/6e/87/architecture_building_sky_blue_modern_urban_business_corporate-1033249.jpg!d) no-repeat center;
    background-size: cover;
}


header img
{
    padding-left: 20px;
    width: 150px;
    height: 90px;
    margin-top: 40px;
    z-index: 1;
}

.whatsapp
{
    position: absolute;
    left: 200px;
    height: 90px;
    width: 90px;
    animation-duration: 5s;
    animation-name: whatsapp;
    animation-iteration-count: infinite;
    z-index: 1; 
}

@keyframes whatsapp
{
    50%
    {
        transform: translatey(50px);
    }
}



.whatsapp img
{
    height: 100%;
    width: 100%;
}


.titulo-header
{
    padding-left: 25px;
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 30px;

}

header h1
{
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: white; 
}

header p
{
    margin-top: 24px;
    font-family: 'DM Sans', sans-serif;;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: rgb(255, 255, 255);
    text-shadow: 5px 1px 5px rgba(0,0,0,0.44);
}


.imagen-fondo
{
    height: 100%;
    width: 100%;
    z-index: -1;
}

header button
{
    margin-top: 60px;
    width: 120px;
    height: 35px;
    text-decoration: none;
    background-color: aliceblue;
}


main
{
    height: auto;
}

.informacion
{
    width: 90%;
    min-width: 280px;
    margin: auto;
    padding-top: 380px;
    padding-bottom: 60px;
    font-size: 1.4rem;
    font-family: 'DM Sans', sans-serif;
}

.informacion-imagen
{
    
    height: 100px;
    min-height: 300px;
    min-width: 200px;
    margin: auto;
    margin-bottom: 50px;
}

.informacion-imagen img
{
    height: 100%;
    width: 100%;
}

.informacion p
{
    width: 80%;
    max-width: 600px;
    margin:auto;
    padding: 8px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    line-height: 20px;
    background-color: white;
    border: 1px solid rgba(0, 13, 111, 0.68);
    border-radius: 10px;
    box-shadow: 0px 2px 15px -3px rgb(1, 51, 102);;
}



.informacion img
{
    vertical-align: -5px;
    margin-right: 5px;
}

.formulario
{
    position: absolute;
    left: calc(50% - 139.5px);
    top: 390px;
    height: 550px;
    min-width: 290px;
    background-image: linear-gradient(to left bottom, #1e3270, #213672, #233974, #263d76, #294078, #273e78, #253d78, #233b78, #1c3475, #162c72, #10256e, #0b1d6a);
    box-shadow: -2px 4px 43px -13px rgba(0,0,0,1);
    border-radius: 10px;
}

form
{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    color: azure;
}

form a
{
    padding-top: 40px;
    font-family: 'DM Sans', sans-serif;
    font-size: 3.5rem;
    line-height: 8px;
    color: rgb(144 173 201);
    text-decoration: none;
}

form a:hover
{
    transform: scale(1.1);
    text-shadow: 2px 2px 1px rgba(75, 176, 240, 0.44);
}

form p
{
    font-size: 1.4rem;
    font-weight: 900;
    color:white;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.25);
}

#mensaje
{
    height: 80px;
    overflow: hidden;
}

.email-direccion
{
    position: absolute;
    left: 20px;
    top: 100px;
    height: 20px;
}

#envio-formulario
{
    opacity: 0;
}

.parrafo-formulario
{
    color: white;
}

.boton-formulario
{
    position: relative;
    top: 10px;
    height: 50px;
    font-size: 1.8rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.boton-formulario:hover
{
    transform: scale(1.1);
    color: rgb(26, 112, 210);
    box-shadow: -2px 4px 43px -13px rgb(137, 201, 214);
}



form input
{
    margin-bottom: 20px;
    height: 35px;
    padding-left: 10px;
    margin-top: 5px;
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    color: white;
    border-bottom: 1px solid rgb(0, 119, 255);
    width: 90%;
}

.nosotros
{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-top: 40px;
    margin: auto;
    border-top: 2px solid #0b1d6a;
}

.nosotros p, div
{
    place-self: center;
}

.nosotros p
{
    transform: translateZ(-1px);
}

.nosotros img
{
    z-index: 1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform-style: preserve-3d;
    animation-name: rotar;
}

@keyframes rotar
{
    50%
    {
        transform: translateZ(2px);
        transform: rotateY(360deg);
    }
}



.p
{
    margin-bottom: 40px;
    font-family: 'DM Sans', sans-serif;;
    font-size: 2.3rem;
    color: rgb(1, 1, 37);
}
.si-soluciones
{
    font-size: 1.8rem;
    font-family: 'DM Sans', sans-serif;
    color: #013569;
    font-weight: 900;
}

.llave
{
    font-size: 2.3rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: 900;
    color: #013569;
    width: 90%;
    text-align: center;
    line-height: 25px;
    margin-bottom: 40px;
}

.ubicacion 
{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.contenedor-mapa  
{
    height: 300px;
    width: 80%;
    place-self: center;
}

.mapa
{
    width: 100%;
    height: 100%;
}

.ubicacion p
{
    margin-left: 40px;
    margin-bottom: 20px;
    font-family: 'DM Sans', sans-serif;
    font-size: 2.8rem;
    color: #013569;
}

footer{
    position: absolute;
    width: 100%;
    padding: 50px 0px;
    background: url(/logos-img/footer\ \(2\).jpg);
    background-size: cover;
   
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 700;
    font-size: 2.3rem;
}

.box__footer a{
    margin-top: 10px;
    margin-bottom: 12px;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.6rem;
}

.box__footer a img
{
    width: 40px;
    height: 32PX;
    padding-right: 8px;
    vertical-align: -10px;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
    font-size: 1.3rem;
}

.box__copyright p{
    margin-top: 20px;
    color: #ffffff;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #ffffff;
}

.contacto p
{
    position: absolute;
    font-size: 4.0rem;
}

.titulo-border
{
    color: black;
    text-shadow: -1px -1px 0 white;
}



@media(min-height:800px)
{
    .informacion
    {
        padding-top: 240px;
    }

   main
   {
        padding-bottom: 80px;
   }
}
   



    

  
